<div class='welcome'>
  <span id='welcome' class='hidden'>Welcome</span>
  <span id='to' class='hidden'>to</span>
  <span id='dbcx' class='hidden'>DBCx<span>
  <span id='logo' class='hidden'><%= image_tag 'dbc-logo.png' %></span>
</div>
